body {
  
  margin: 0;
  padding: 0;
  
  font-family: Arial;
  
  background: #FFF5E4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  
}

.container {
  
  background: white;
  
  width: 90%;
  max-width: 400px;
  
  padding: 30px;
  
  border-radius: 25px;
  
  text-align: center;
  
}

button {
  
  width: 100%;
  
  padding: 18px;
  
  border: none;
  border-radius: 15px;
  
  background: #ff914d;
  
  color: white;
  
  font-size: 18px;
  font-weight: bold;
  
}

.roomBox {
  
  background: #FFE9C9;
  
  margin-top: 20px;
  
  padding: 20px;
  
  border-radius: 20px;
  
}

#roomCode {
  
  font-size: 40px;
  color: #ff6600;
  
}

ul {
  
  padding: 0;
  
  list-style: none;
  
}

li {
  
  background: #FFE9C9;
  
  padding: 15px;
  
  margin-top: 10px;
  
  border-radius: 15px;
  
}