body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #FFF5E4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
}

.container {
  background: white;
  width: 90%;
  max-width: 400px;
  
  padding: 30px;
  
  border-radius: 25px;
  
  text-align: center;
  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ff6600;
}

button {
  width: 100%;
  padding: 18px;
  
  border: none;
  border-radius: 15px;
  
  background: #ff914d;
  color: white;
  
  font-size: 18px;
  font-weight: bold;
}

.room-box {
  margin-top: 25px;
  
  background: #FFE9C9;
  
  padding: 20px;
  
  border-radius: 20px;
}

#roomCode {
  font-size: 40px;
  color: #ff6600;
}

.players {
  margin-top: 25px;
  
  text-align: left;
}

.players ul {
  padding-left: 20px;
}

.players li {
  margin-bottom: 10px;
  font-size: 18px;
}
#startGame {
  margin-top: 15px;
  background: #4CAF50;
}