body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #FFF5E4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
}

.container {
  background: white;
  
  width: 90%;
  max-width: 400px;
  
  padding: 30px;
  
  border-radius: 25px;
  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
  text-align: center;
}

h1 {
  color: #ff6600;
}

input {
  width: 100%;
  
  padding: 15px;
  
  margin-top: 15px;
  
  border-radius: 15px;
  border: 2px solid #ff914d;
  
  box-sizing: border-box;
  
  font-size: 16px;
}

button {
  width: 100%;
  
  padding: 18px;
  
  margin-top: 20px;
  
  border: none;
  border-radius: 15px;
  
  background: #ff914d;
  color: white;
  
  font-size: 18px;
  font-weight: bold;
}

.leaderboard {
  margin-top: 30px;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  
  background: #FFE9C9;
  
  padding: 15px;
  
  margin-bottom: 15px;
  
  border-radius: 15px;
  
  display: flex;
  justify-content: space-between;
  
  font-size: 18px;
  font-weight: bold;
}